::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(122, 57, 137, 0.514);
    border-radius: 40px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar {
    box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}

.nav-item,
.navbar {
    z-index: 900;
}

@media screen and (max-width:800px) {
    .sidebar {
        z-index: 10000000;
    }
}

 /* Sidebar CSS */
.link {
    @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
  }
  
  .active {
    @apply bg-purple-100 text-purple-600;
  }